<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.photosharingxjq">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- for gps map -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.location.gps"/> <!-- for camera -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".DetailActivity">
        </activity>
       <!-- for gps -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyBYg0zWkeo8rbEljiT30tfvYSW57HOQETs"/> <!-- for camera -->
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.example.photosharingxjq.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/files_path"/>
        </provider>

        <activity android:name=".MapsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".AccountActivity"
                android:label="@string/account"
                android:parentActivityName=".MapsActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.photosharingxjq.MapsActivity"/>
        </activity>
    </application>

</manifest>